@page
@model TechTreeWebApplication.Areas.Admin.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEntity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryEntity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEntity.Thumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryEntity.Thumbnail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategoryEntity?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
