@page
@model TechTreeWebApplication.Areas.Admin.Pages.CategoryItem.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryItemEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryItemEntity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryItemEntity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryItemEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryItemEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryItemEntity.DateReleased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryItemEntity.DateReleased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryItemEntity.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryItemEntity.Category.Thumbnail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryItemEntity.MediaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryItemEntity.MediaType.Thumbnail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategoryItemEntity?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
